#up-wrong {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#up-wrong.active {
    bottom: 0em;
}
#up-success {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#up-success.active {
    bottom: 0em;
}
#up-pass {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#up-pass.active {
    bottom: 0em;
}
#required {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#required.active {
    bottom: 0em;
}
#main-container {
    overflow-y: scroll;
    height: 100vh;
}
#defaultModal {
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
#defaultModal.active {
    visibility: visible;
    opacity: 1;
}
#modal-content {
    visibility: hidden;
    opacity: 0;
    margin-top: -10em;
    transition: all .2s ease-in-out;
}

#modal-content.active {
    visibility: visible;
    opacity: 1;
    margin-top: 0em;
}
#dropdown {
    visibility: hidden;
    opacity: 0;
    transition: all .15s ease-in-out;
}
#dropdown.active {
    visibility: visible;
    opacity: 1;
}