#up-wrong {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#up-wrong.active {
    bottom: 0em;
}
#up-success {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#up-success.active {
    bottom: 0em;
}
#text-copied {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#text-copied.active {
    bottom: 0em;
}
#up-pass {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#up-pass.active {
    bottom: 0em;
}
#required {
    transition: all .2s ease-in-out;
    bottom: -10em;
}
#required.active {
    bottom: 0em;
}
#main-container {
    overflow-y: scroll;
    height: 100vh;
}
#defaultModal {
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
#defaultModal.active {
    visibility: visible;
    opacity: 1;
}
#modal-content {
    visibility: hidden;
    opacity: 0;
    margin-top: -10em;
    transition: all .2s ease-in-out;
}

#modal-content.active {
    visibility: visible;
    opacity: 1;
    margin-top: 0em;
}
#dropdown {
    visibility: hidden;
    opacity: 0;
    transition: all .15s ease-in-out;
}
#dropdown.active {
    visibility: visible;
    opacity: 1;
}
#count-down {
    transition: all .2s ease-in-out;
    animation-name: count-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}
@keyframes count-down {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@media only screen and (max-width: 640px) {
    
    .xs-col {
        flex-direction: column !important;
    }
    .xs-w-full {
        width: 100%;
    }
    
}