.w-10p {
    width: 10%;
  }

.contenedor-central{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.h-1-8{
    height: 12.5%;
}

.w-90p{
    width: 90%;
    transition: width 0.5s ease-in-out;
}

.w-66p{
    width: 66.6666%;
    transition: width 0.5s ease-in-out;
}

.w-0p{
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.w-33p{
    width: 33.333333%;
    transition: width 0.5s ease-in-out;
}


.w-41p{
    width: 41%;
}

.h-68{
    height: 68px;
}

.gris-buscador{
    background-color: #EEF0F2;
}

.gris-palabras{
    color: #98999A;
}

.negro-palabras{
    color: #575757
}

.folder-size{
    max-width:100px; 
}

.min-h-50{
    min-height: 50px;
}

.max-h-50{
    max-height: 50px;
}

.min-h-100{
    min-height: 100px;
}

.min-w-100{
    min-width: 100px;
}

.chat-user{
    background-color: #2A85FF;
}
.max-w-66p{
    max-width: 66%;
}

.max-w-80p{
    max-width: 80%;
}

.max-h-100{
    max-height: 100px;
}

.animacion-giro{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.fondo-login {
    background-color: #2181FF;
}

.fondo-boton-google {
    background-color: #E0EFFE;
}

.login-image-size {
    width: 498px;
    height: 498px;
}

.font-login{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 26.3324px;
    line-height: 120%;
}

.h-1px{
    height: 1px;
}

.small-text {
    font-size: 12px;
}